Testing & Learning/BasicStockAnalysis.ipynb
Testing & Learning/PythonNotebook.ipynb
Testing & Learning/PythonMySql.py
Machine Learning/dataFolder/datatest.csv
Machine Learning/MachineLearning.ipynb
Machine Learning/Knn.ipynb
Analysis/buy sell indicators.ipynb
Machine Learning/assignment3.ipynb
